body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 95vh;
    background: rgb(102, 99, 99);
}

.body-light {
    background: rgb(238, 231, 231);
}

.darkLight {
    padding: 10px;
    justify-self: center;
    background: rgb(147, 147, 158);
    align-self: top;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(6, 67, 121);
}

.darkLight:hover {
    background: rgb(190, 190, 221);
}

.principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 280px;
    height: 280px;
    gap: 12px;
    background: rgb(21, 21, 21);
    padding: 20px;
    border-radius: 4px;
}

.principal-light {
    background: rgb(145, 141, 141);
}

.resultado {
    grid-column: 1/-1;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 8px;
    border: none;
    border: 3px solid transparent;
    font-size: 20px;
    text-align: right;
}

.resultado:focus {
    outline: none;
    border-color: grey;
}

.btn {
    border-radius: 4px;
    font-size: 20px;
    background: rgb(58, 57, 57);
    color: white;
    border: none;
    padding: 8px;
}

.btn-light {
    background: rgb(198, 194, 194);
    color: rgb(12, 12, 12);
}

.btn:hover {
    background: rgb(105, 104, 104);
}

.operador {
    background-color: rgb(33, 55, 105);
}

.operador:hover {
    background-color: rgb(73, 106, 184);
}

.limpar {
    background-color: green;    
}

.limpar:hover {
    background-color: rgb(36, 162, 36);
}

